################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/apexdojohub_API/appsettings.json
/apexdojohub_API/Procedures
